:root{
  --branco: white;
  --preto: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--preto);
  color: var(--branco);
}

section{
  min-height: 100vh;
  height: auto;
}